@tailwind base;
@tailwind components;
@tailwind utilities;

/* The Global Dark Theme Fix
body {
  @apply p-0 m-0 text-white bg-dark;
} */
  
  body {
    background-color: #0B1120;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
